body
{
    background-image: url(../Images/Login&Signup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form
{
    background-image: url(../Images/textile-2918844_1920.jpg);
    background-size: cover;
    width: 400px;
    text-align: center;
    margin-top: 110px;
}
.libraryName
{
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar
{
    background-color: rgb(83, 138, 138);
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    

}
.nav-link:hover
{
    background-color: black;
    color: white;
}
